.lmRadioContainer {
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.lmRadioElement {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.lmStyledRadio {
  transition: background-color 0.3s;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
