.lmProfileContainer {
  width: fit-content;
  height: fit-content;
  align-items: center;
}

.lmProfileAvatar {
  border-radius: 10vh;
}

.lmProfileInfoContainer {
  margin-right: 2.5vw;
}

.lmProfileTitle {
  margin: 0;
}

.lmProfileSubtitle {
  margin: 0;
}
