.lmSwitchContainer {
  all: unset;
  display: flex;
  align-items: center;
}

.lmSwitch {
  width: 3.5vw;
  height: 2vw;
  border-radius: 2vw;
  align-items: center;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lmSwitchIndicator {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 1vw;
  margin-left: 0.5vw;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.lmSwitchIndicator.lmActive {
  transform: translateX(1vw);
}
