/* General purpose */
.hljs-keyword { color: #007bff; } /* Keyword */
.hljs-built_in { color: #6610f2; } /* Built-in */
.hljs-type { color: #17a2b8; } /* Type */
.hljs-literal { color: #28a745; } /* Literal */
.hljs-number { color: #17a2b8; } /* Number */
.hljs-operator { color: #fd7e14; } /* Operator */
.hljs-punctuation { color: #dc3545; } /* Punctuation */
.hljs-property { color: #6610f2; } /* Property */
.hljs-regexp { color: #6c757d; } /* Regexp */
.hljs-string { color: #28a745; } /* String */
.hljs-char.escape { color: #28a745; } /* Char escape */
.hljs-subst { color: #28a745; } /* Subst */
.hljs-symbol { color: #6f42c1; } /* Symbol */
.hljs-class { color: #6610f2; } /* Class */
.hljs-function { color: #6610f2; } /* Function */
.hljs-variable { color: #6610f2; } /* Variable */
.hljs-variable.language { color: #6610f2; } /* Variable language */
.hljs-variable.constant { color: #6610f2; } /* Variable constant */
.hljs-title { color: #6610f2; } /* Title */
.hljs-title.class { color: #6610f2; } /* Title class */
.hljs-title.function { color: #6610f2; } /* Title function */
.hljs-params { color: #6610f2; } /* Params */
.hljs-comment { color: #6c757d; font-style: italic; } /* Comment */
.hljs-doctag { color: #6c757d; } /* Doctag */
.hljs-meta { color: #6c757d; } /* Meta */
.hljs-meta.prompt { color: #6c757d; } /* Meta prompt */
.hljs-meta.keyword { color: #6c757d; } /* Meta keyword */
.hljs-meta-string { color: #6c757d; } /* Meta string */

/* Tags, attributes, configs */
.hljs-section { color: #6610f2; } /* Section */
.hljs-tag { color: #007bff; } /* Tag */
.hljs-name { color: #007bff; } /* Name */
.hljs-attr { color: #6610f2; } /* Attr */
.hljs-attribute { color: #6610f2; } /* Attribute */

/* Text Markup */
.hljs-bullet { color: #6610f2; } /* Bullet */
.hljs-code { color: #dc3545; } /* Code */
.hljs-emphasis { font-style: italic; } /* Emphasis */
.hljs-strong { font-weight: bold; } /* Strong */
.hljs-formula { color: #6610f2; } /* Formula */
.hljs-link { color: #6610f2; } /* Link */
.hljs-quote { color: #6610f2; } /* Quote */

/* CSS */
.hljs-selector-tag { color: #007bff; } /* Selector tag */
.hljs-selector-id { color: #6610f2; } /* Selector id */
.hljs-selector-class { color: #28a745; } /* Selector class */
.hljs-selector-attr { color: #6610f2; } /* Selector attr */
.hljs-selector-pseudo { color: #6610f2; } /* Selector pseudo */

/* Templates */
.hljs-template-tag { color: #007bff; } /* Template tag */
.hljs-template-variable { color: #6610f2; } /* Template variable */

/* Diff */
.hljs-addition { color: #28a745; } /* Addition */
.hljs-deletion { color: #dc3545; } /* Deletion */
