.lmTextInputWrapper {
  display: flex;
  flex-direction: column;
}

.lmInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lmTextInputContainer {
  flex: 1;
  margin-right: 1vw;
}
