.accordionHeader {
  height: fit-content;
  align-items: center;
  justify-content: space-between;
}

.lmAccordionShowIcon {
  transform: rotate(0deg);
  transition: all 1s ease;
  transform-origin: center;
  cursor: pointer;
}

.rotated {
  transform: rotate(90deg);
}

.lmAccordionBody {
  margin-top: 1vh;
}
