.lmImageContainer {
  width: fit-content;
  position: relative;
  overflow: hidden;
}

.lmImageComponent {
  min-width: 100px;
  min-height: 100px;
}

.lmImageContainer:hover .lmImageUpdateContainer {
  opacity: 1;
  z-index: 9;
  margin: 0;
}
